.container {
    padding: 0px 100px;
    min-width: 300px;
    overflow: hidden;
}

.left {
    float: left;
    position: relative;
    left: -100px;
    margin-left: -100%;
    width: 100px;
    background-color: red;
    text-align: center;
}

.center {
    float: left;
    width: 100%;
    background-color: green;
    text-align: center;
}

.right {
    float: left;
    position: relative;
    left: 100px;
    margin-left: -100px;
    width: 100px;
    background-color: blue;
    text-align: center;
}